@use "variables";
@use "mixins";

.best-sellers {
    font-family: "Open Sans", sans-serif;

    &__container {
        margin-bottom: mixins.toRem(140);

        & > *:not(:last-of-type) {
            margin-bottom: mixins.toRem(35);
        }
    }

    &__title {
        text-align: center;

        font-family: "Roboto", sans-serif;
        font-size: mixins.toRem(50);
        font-weight: 500;
    }

    &__filter {
    }
}
