@import "variables";
@import "mixins";

.collections {
    background-color: rgba($black, .05);
    background-image:     url("../img/background/left.svg"), url("../img/background/right.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left 18%, right 50%;
    // довелось розкласти властивість background на складові, бо короткий запис, як нижче, не працював
    //background: rgba($black, .5) url("../img/background/left.svg") url("../img/background/right.svg") no-repeat no-repeat left 18% right 50%;

    @media (max-width: $burgerBreakpoint+px) {
        background-size: auto 50%, auto 80%;
    }

    font-family: "Roboto", sans-serif;

    @media (max-width: $containerWidth+px) {
        font-size: calc(16px - 8 * ((#{$containerWidth}px - 100vw) / 500));
    }
    @media (max-width: 800px) {
        font-size: 8px;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__section-left {
        flex-grow: 1;

        @media (max-width: $burgerBreakpoint+px) {
            font-size: 1.2rem;
        }

        & > * {
            margin-bottom: toRem(52);

            @media (max-width: $burgerBreakpoint+px) {
                margin-bottom: toRem(52 * .4);
            }
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__header {
        font-size: toEm(74);
        font-weight: 300;
    }

    &__description {
        margin-bottom: toRem(66);

        @media (max-width: $burgerBreakpoint+px) {
            margin-bottom: toRem(66 * .4);
        }

        font-size: toRem(30);
        line-height: toRem(55);
        text-transform: capitalize;
    }

    &__link {
        padding: toRem(21) toRem(26);

        background-color: $black;

        color: $white;

        font-size: toRem(29);
        text-transform: capitalize;

        &--shop-icon {
            &::before {
                margin-right: 8px;
                content: "\e903";
            }
        }

        transition: background-color .2s ease-in;

        @media (any-hover: hover) {
            &:hover {
                background-color: $primary;
            }
        }
    }

    &__section-right {
        padding: toRem(101) toRem(94) toRem(60) toRem(116);

        @media (max-width: $burgerBreakpoint+px) {
            display: none;
        }
    }

    @mixin image-border {
        border-top-left-radius: toRem(130);
        border-bottom-right-radius: toRem(130);
    }

    &__image-wrapper {
        border: 2px solid rgba($dark, .25);
        @include image-border;
    }

    &__main-image {
        width: toRem(424);
        height: toRem(542);

        @include image-border;

        transform: translate(toRem(-18), toRem(-18));
    }
}
