@import "common_elements/logo";
@import "variables";
@import "common_elements/burger";

.header {
    font-family: "Roboto", sans-serif;
    font-size: 18px;

    &__container {
        position: relative;
    }

    &__main {
        padding: 31px 0 55px;

        display: flex;
        gap: 5px 20px;

        justify-content: space-between;
        align-items: center;

        @media (max-width: 800px){
            padding-top: calc(31px - 21 * ((800px - 100vw) / 300));
            padding-bottom: calc(55px - 40 * ((800px - 100vw) / 300));
        }
        @media (max-width: 500px) {
            padding-top: 10px;
            padding-bottom: 15px;
        }
        @media (max-width: $headerTransformBreakpoint+px) {
            flex-wrap: wrap;
        }
    }

    &__button-search {
        &--search-icon {
            &::before {
                font-size: 25px;
                content: "\e901";
            }
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        justify-content: center;

        @media (max-width: $headerTransformBreakpoint+px) {
            position: static;
            transform: unset;

            order: -1;
            flex: 1 1 100%;
        }
    }

    &__links {
        display: flex;
        column-gap: 22px;
        @media (max-width: 680px) {
            column-gap: 5px;
        }
        @media (max-width: $burgerBreakpoint+px) {
            display: none;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__text-link {
        @media (max-width: 680px) {
            display: none;
        }
    }

    &__image-link {
        &--account-icon {
            &::before {
                font-size: 25px;
                content: "\e900";
            }
        }
        &--shopping-icon {
            &::before {
                font-size: 25px;
                content: "\e903";
            }
        }
    }
}

.logo {
    &__img {
        height: 23px;
        width: 97px;
    }
}

.nav {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    @media (max-width: 1190px) {
        font-size: calc(16px - 4 * ((1190px - 100vw) / 490));
    }

    @media (max-width: 700px) {
        font-size: 12px;
    }

    @media (max-width: $burgerBreakpoint+'px') {
        display: none;
    }

    &__list {
        display: flex;
        gap: 10px 15px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
    }
}
