@import "variables";
@import "common_elements/burger";

.header {
    background-color: rgba($black, .05);

    font-family: "Roboto", sans-serif;
    font-size: 18px;

    &__container {
        position: relative;

        @media (max-width: 300px) {
            padding-inline: calc(15px - 12 * ((300px - 100vw) / 20));
        }
        @media (max-width: 280px) {
            padding-inline: 3px;
        }
    }

    &__main {
        padding: 31px 0 55px;

        display: flex;
        gap: 10px 20px;

        justify-content: space-between;
        align-items: center;

        @media (max-width: 1190px){
            padding-top: calc(31px - 21 * ((1190px - 100vw) / 490));
            padding-bottom: calc(55px - 40 * ((1190px - 100vw) / 490));
        }
        @media (max-width: 700px) {
            padding-top: 10px;
            padding-bottom: 15px;
        }
        @media (max-width: $burgerBreakpoint+px) {
            flex-wrap: wrap;
        }
    }

    &__search-form {
        display: flex;
        flex: 1 1 100%;
        column-gap: 10px;
        @media (max-width: $burgerBreakpoint+px) {
            order: 3;
        }
    }

    &__input-search {
        display: none;

        flex-grow: 1;

        background-color: #fff;
        box-shadow: 0px 0px 52px -26px rgba(0,0,0,0.75);

        @media (max-width: $burgerBreakpoint+px) {
            display: block;
        }
    }

    &__button-search {
        &--search-icon {
            &::before {
                font-size: 25px;
                content: "\e901";
            }
        }
    }

    &__logo {
        //це єдиний спосіб, який я знайшов, щоб відцентрувати лого саме по центру. він не ідеальний - якщо праворуч додати ще пункти меню, вони наїжджають на лого, але використання flex+justify-content:space-between може дати тільки рівні проміжки між елементами
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        justify-content: center;

        @media (max-width: $burgerBreakpoint+px) {
            position: static;
            transform: unset;

            justify-content: unset;

            order: -1;
        }
        @media (max-width: 250px) {
            flex-shrink: 1;
        }
    }

    &__links {
        display: flex;
        column-gap: 22px;
        @media (max-width: 680px) {
            column-gap: 5px;
        }
        @media (max-width: $burgerBreakpoint+px) {
            display: none;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__link, &__burger {
        transition: color .2s ease-in;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }

        }
    }

    &__text-link {
        @media (max-width: 680px) {
            display: none;
        }
    }

    &__image-link {
        &--account-icon {
            &::before {
                font-size: 25px;
                content: "\e900";
            }
        }
        &--shopping-icon {
            &::before {
                font-size: 25px;
                content: "\e903";
            }
        }
    }
}

.logo {
    &__img {
        height: 100%;
        width: 100%;

        max-height: 34px;
        max-width: 180px;
    }
}

.nav {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    @media (max-width: 1190px) {
        font-size: calc(16px - 4 * ((1190px - 100vw) / 490));
    }

    @media (max-width: 700px) {
        font-size: 12px;
    }

    @media (max-width: $burgerBreakpoint+'px') {
        display: none;
    }

    &__list {
        display: flex;
        gap: 10px 15px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
    }

    &__link {
        transition: color .2s ease-in;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
}
