@use "variables";
@use "mixins";

.promo {

    background: variables.$black url("../img/promo/background.png") left top / cover no-repeat;

    overflow: hidden;

    // font-size потрібен в цій секції тільки для побудови адаптиву
    font-size: 16px;
    @media (max-width: variables.$containerWidth+px) {
        font-size: calc(16px - 12 * ((#{variables.$containerWidth}px - 100vw) / 1000));
    }
    @media (max-width: 300px) {
        font-size: 4px;
    }

    &__container {
        padding: 233px 33px 200px 783px;

        display: flex;
        flex-direction: column;
        row-gap: mixins.toRem(55);
        align-items: start;

        color: variables.$white;

        font-family: "Roboto", sans-serif;
        text-transform: capitalize;



    }

    &__title-container {
        position: relative;
    }

    &__title {
        width: mixins.toRem(191);
    }

    &__shadow-title {
        width: mixins.toRem(732);

        position: absolute;
        top: mixins.toRem(-182);
        left: mixins.toRem(161);

        opacity: .1;
    }

    &__description {
        font-size: mixins.toRem(26);

        line-height: mixins.toRem(40);
    }

    &__link {
        padding: 19px 26px;

        background-color: variables.$white;

        font-size: 26px;

        color: variables.$black;
    }
}
