@use "variables";
@use "mixins";

.promo {
    background: variables.$black url("../img/promo/background.png") 30% top / cover no-repeat;

    overflow: hidden;

    // font-size потрібен в цій секції тільки для побудови адаптиву
    font-size: 16px;
    @media (max-width: variables.$containerWidth+px) {
        font-size: calc(16px - 12 * ((#{variables.$containerWidth}px - 100vw) / 1000));
    }
    @media (max-width: 300px) {
        font-size: 4px;
    }

    &--margin {
        margin-bottom: mixins.toRem(140);
    }

    &__container {
        display: flex;
        justify-content: end;
    }

    &__wrapper {
        padding: mixins.toEm(233) mixins.toRem(33) mixins.toEm(93);

        display: flex;
        flex-direction: column;
        row-gap: mixins.toRem(55);
        align-items: start;

        flex-basis: 510px;

        color: variables.$white;

        font-family: "Roboto", sans-serif;
        text-transform: capitalize;
    }

    &__title-container {
        position: relative;
    }

    &__title {
        width: mixins.toRem(191);
    }

    &__shadow-title {
        width: mixins.toRem(732);

        position: absolute;
        top: mixins.toRem(-182);
        left: mixins.toRem(161);

        opacity: .1;
    }

    &__description {
        font-size: mixins.toRem(26);

        line-height: mixins.toRem(40);
    }

    &__link {
        padding: mixins.toRem(19) mixins.toRem(26);

        background-color: variables.$white;

        font-size: mixins.toRem(26);

        color: variables.$black;

        @media (any-hover: hover) {
            transition: background-color .1s ease-in;

            &:hover {
                background-color: variables.$primary;
            }
        }
    }
}
