@use "variables";

[class*="__ribbons "], [class$="__ribbons"] {
    position: absolute;
    top: 22px;
    left: 0;

    z-index: 2;
}

.ribbons {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: variables.$white;
}

.ribbon {
    padding: 4px 12px;

    &--sale {
        background-color: variables.$black;

        &::before {
            content: "SALE";
        }
    }
    &--hot {
        background-color: variables.$primary;

        &::before {
            content: "HOT";
        }
    }
}
