@use "variables";
@use "mixins";

.subscribe {
    font-family: "Open Sans", sans-serif;

    text-transform: capitalize;

    &__container {
    }

    &__title {
        margin-bottom: 35px;

        font-family: "Roboto", sans-serif;
        font-size: mixins.toRem(50);
        font-weight: 500;

        text-align: center;
    }

    &__filter {
    }
}

.filter {
    margin-bottom: mixins.toRem(35);

    display: flex;
    column-gap: 30px;

    align-items: center;

    font-size: 16px;

    @media (max-width: variables.$filterBreakpoint+px) {
        font-size: calc(16px - 6 * ((#{variables.$filterBreakpoint }px - 100vw) / 50));
    }
    @media (max-width: 400px) {
        font-size: 10px;
    }


    &__items {
        display: flex;
        column-gap: mixins.toRem(40);

        flex-grow: 1;

        @media (max-width: 355px) {
            flex-direction: column;
            row-gap: 5px;
            align-items: start;
        }
    }

    &__item {
        &--active {
            font-weight: 600;
        }
    }

    &__link-item {
        text-transform: capitalize;

        transition: color .1s ease-in;

        @media (any-hover: hover) {
            &:hover {
                color: variables.$primary;
            }
        }
    }

    &__filter-button {
    }
}

.filter-button {
    display: flex;
    align-items: center;

    font-size: 1em;

    transition: background-color .2s ease-in;

    @media (any-hover: hover) {
        &:hover {
            background-color: variables.$primary;
        }
    }

    &--filter-icon {
        &::before {
            margin-right: 4px;
            content: "\e902";
        }
    }

    padding: 5px 15px;

    background-color: variables.$black;

    color: variables.$white;
}

.product-list {
    display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: mixins.toRem(24);

    align-items: start;

    @media (max-width: 545px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &__product {
    }
}

.product {
    max-width: 312px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    transition: transform .1s ease-in;

    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.02);
        }
    }

    &__picture {
        margin-bottom: 18px;

        height: 100%;
        width: 100%;
        aspect-ratio: 312 / 400;
        object-fit: contain;
    }

    &__details {
        padding-inline: mixins.toRem(10);

        display: flex;
        flex-direction: column;

        @media (max-width: 340px) {
            font-size: calc(1em - .5em * ((340px - 100vw) / 140));
        }

    }

    &__title {
        margin-bottom: mixins.toRem(16);

        flex-grow: 1;

        font-weight: 600;

        text-transform: capitalize;

        transition: color .1s ease-in;

        @media (any-hover: hover) {
            &:hover {
                color: variables.$primary;
            }
        }
    }

    &__bottom-section {
        display: flex;
    }

    &__category {
        flex-grow: 1;

        color: rgba(variables.$dark, .5);

        text-transform: capitalize;
    }

    &__prices {
        display: flex;
        flex-direction: row-reverse;
        column-gap: mixins.toRem(12);

        font-weight: 600;
    }

    &__price {
        &--discount {
            color: variables.$primary;
        }

        &--discount + &--regular {
            color: rgba(variables.$dark, .5);

            text-decoration: line-through;
        }
    }
}
