//layout params
$containerWidth: 1300;
$containerPadding: 15;
$pageWidth: $containerWidth + $containerPadding * 2;

//colors
$primary: #FF6F61;
$black: #1E2832;
$white: #FFFFFF;
$dark: #000000;

$stroke: #E3E3E3;


//breakpoints
$burgerBreakpoint: 480;
$headerTransformBreakpoint: 300;
$filterBreakpoint: 450;
