@use "mixins";
@use "variables";

@import "reset";

@import "fonts";
@import "common_elements/icon-fonts";

html {
    @media (max-width: 1300px) {
        font-size: calc(16px - 8 * ((#{variables.$containerWidth}px - 100vw) / 500));
    }
    @media (max-width: 800px) {
        font-size: 8px;
    }
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*=__container] {
    max-width: variables.$pageWidth + px;
    margin: 0 auto;
    padding: 0 15px;
}

body {

}

// common elements
@import "common_elements/filter";

@import "common_elements/product-list";

@import "ribbons";

// sections
@import "header";

@import "collection";

@import "brands";

@import "popular";

@import "subscribe";

@import "promo";

@import "best-sellers";

@import "follow";

@import "menu-bottom";

@import "footer";
