@import "reset";

@import "fonts";
@import "common_elements/icon-fonts";

@import "mixins";
@import "variables";

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*=__container] {
    max-width: $pageWidth + px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-color: rgba($black, .05);
}

@import "header";

@import "collection";
