@import "reset.css";

@import "fonts.css";

@keyframes jump {
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

body {
    background-color: #F8F8F8;
    font-family: "Proxima Nova", sans-serif;
}

[class*=__container], [class*=--container] {
    /*border: 1px solid black;*/
    max-width: 1290px;
    margin: 0 auto;
}

.nav {
    color: #535353;
}

.upper-menu {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    display: flex;
    gap: 30px;
}

.main-menu__item:hover {
    color: #FFBC57;
}

.social-media-menu {
    display: flex;
    padding-left: 20px;
    padding-right: 30px;

    gap: 10px;
}

.social-media-menu__item {
    border-radius: 50%;
}
.social-media-menu__item:hover {
    box-shadow: 3px 2px 5px 5px rgba(0, 0, 0, .2);
}

.language-selector {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.language-selector::after {
    content: "";
    height: 24px;
    width: 26px;
    background: url("../img/icons/down_arrow.svg") center center no-repeat;
}

.language-selector:hover::after {
    animation-name: jump;
    animation-duration: .3s;
}

.primary-menu-wrapper {
    background-color: #FFF;
}

.primary-menu {
    display: flex;
    padding: 27px 0;
    gap: 30px;
}

.primary-menu--margin {
    margin-bottom: 2px;
}

.main-logo {
    display: flex;
    gap: 8.5px;
    align-items: center;
}

.primary-menu__catalog-button {
    height: 46px;
    width: 145px;
    background-color: #FFBC57;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    font-size: 19px;
    font-weight: 600;
}

.primary-menu__catalog-button:hover {
    background-color: #cc913c;
}

.primary-menu__catalog-button::before {
    height: 24px;
    width: 24px;
    content: "";
    background: url("../img/icons/menu-catalog.svg");
    margin-right: 10px;
}

.search {
    position: relative;
    flex-grow: 1;
}

.search__input {
    height: 50px;
    padding: 10px 36px 10px 15px;

    border: 1px solid #B1B1B1;
    border-radius: 8px;

    color: #B1B1B1;
}

.search__input::placeholder {
    color: #B1B1B1;
}

.search__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
}

.contacts {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.contacts::after {
    content: "";
    height: 24px;
    width: 26px;
    background: url("../img/icons/down_arrow.svg") center center no-repeat;
}

.image-button {
    height: 50px;
    width: 50px;
    border: 2px solid #FFBC57;
    border-radius: 50%;

    transition: background-color 0.2s ease-out;
}

.image-button:hover {
    background-color: rgba(255, 188, 87, 0.5);
}

.image-button--phone {
    background: #F8F8F8 url("../img/icons/phone.svg") no-repeat center center;
    border: none;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__working-time {
    font-size: 13px;
    font-weight: 300;
}

.contacts__phone {
    color: #2B2929;
    font-size: 20px;
    font-weight: 600;
}

.button-image-group {
    display: flex;
    gap: 20px;
}

.image-button--favorites {
    background: url("../img/icons/favorites.svg") no-repeat center center;
}

.image-button--shopping-cart {
    background: url("../img/icons/shopping-cart.svg") no-repeat center center;
}

.secondary-menu-wrapper {
    background-color: #fff;
}

.secondary-menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
}

.secondary-menu {
    padding: 20px 0;
    display: flex;
    gap: 40px;
}

.secondary-menu__item {
    display: flex;
    align-items: center;
}

.secondary-menu__item:hover {
    color: #FFBC57;
}

.secondary-menu__image-item {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.banner {
    padding: 30px 0 0;
}

.banner--bottom-margin {
    margin-bottom: 70px;
}

.banner__container-image {
    position: relative;
}

.banner__container-image::before, .banner__container-image::after {
    display: inline-flex;
    height: 60px;
    width: 60px;

    position: absolute;
    top: 50%;

    background: #fff url("../img/icons/arrow_left.svg") no-repeat center center;

    border-radius: 50%;

    z-index: 20;

    content: "";
}

.banner__container-image::before {
    left: 20px;

    transform: translateY(-50%);
}

.banner__container-image::after {
    right: 20px;

    transform: translateY(-50%) rotateY(180deg);
}

.banner__image {
    width: 100%;
    border-radius: 8px;
}

.paginator {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 10px;

    position: absolute;
    bottom: 20px;
}

.paginator__item {
    height: 15px;
    width: 15px;
    background-color: #F8F8F8;
    border: 3px solid #F8F8F8;
    border-radius: 50%;
}

.paginator__item--active {
    background-color: #FFBC57;
}

.popular-categories--bottom-margin {
    margin-bottom: 70px;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-header--margin-bottom {
    margin-bottom: 40px;
}

.section-header__header {
    font-size: 40px;
    font-weight: 600;
}

.popular-categories__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 24px;
}

.card-category {
    display: flex;
    height: 300px;
    width: 250px;

    flex-direction: column;

    position: relative;

    background: #fff url("../img/popular/background.svg") no-repeat center bottom;

    border-radius: 8px;
}

.card-category--shadow {
    box-shadow: 10px 10px 35px -14px rgba(0,0,0,0.2);
}

.card-category__header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;

    position: absolute;

    font-size: 20px;
    font-weight: 600;
}

.card-category__title {
    color: #2B2929;

    transition: color .2s ease-in;
}

.card-category:hover .card-category__title {
    color: #FFBC57;
}

.card-category__count {
    color: #B1B1B1;
}

.card-category__link::after {
    height: 50px;
    width: 50px;

    position: absolute;
    right: 20px;
    bottom: 20px;

    border: 2px solid #FFBC57;
    border-radius: 50%;

    background: url("../img/icons/top-right-arrow.svg") center center no-repeat;

    content: "";

    opacity: 0;

    transition: opacity .2s ease-in;
}

.card-category__link:hover::after {
    opacity: 100%;
}

.show-all-link {
    color: #FFBC57;

    display: inline-flex;
    align-items: center;

    font-size: 19px;
    font-weight: 600;

    gap: 10px;
}

.show-all-link::after {
    height: 24px;
    width: 24px;

    background: url("../img/icons/top-right-arrow.svg") center center no-repeat;

    content: "";

    transition: transform 0.2s ease-in;
}

.show-all-link:hover::after {
    transform: rotate(45deg);
}

.popular-products--bottom-margin {
    margin-bottom: 80px;
}

.popular-products__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card-product {
    height: 468px;
    /*min-height: 468px;*/
    width: 300px;

    background-color: #fff;

    border: 1px solid #E3E2E2;
    border-radius: 8px;
}

.card-product__link > * {
    margin-bottom: 10px;
}

.card-product__link > *:last-of-type {
    margin-bottom: 0;
}

.card-product--shadow {
    box-shadow: 10px 10px 35px -14px rgba(0,0,0,0.2);
}

.card-product__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-product__image-container {
    margin-bottom: 20px;

    border-radius: 8px;
    overflow: hidden;
}
.card-product__image {
    transition: transform .1s ease-in;
}

.card-product__image:hover {
    transform: scale(1.05);
}

.card-product__description {
    font-size: 13px;
    font-weight: 300;
    color: #535353;
}

.card-product__title {
    padding: 10px 0;

    font-size: 19px;
    font-weight: 600;

    flex-grow: 1;

    display: flex;
    align-items: center;

    color: #2B2929;
}

.card-product__availability {
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    color: #2B2929;

    font-size: 13px;
    font-weight: 300;
}

.card-product__availability--available::before {
    display: block;
    margin-right: 7px;
    height: 24px;
    width: 24px;
    background: url("../img/icons/available.svg") center center no-repeat;

    content: "";
}

.price {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.price__regular {
    color: #E03D3D;

    font-size: 15px;

    text-decoration: line-through;

    line-height: 22px;
}

.price__actual {
    color: #2B2929;

    font-size: 20px;
    font-weight: 600;

    line-height: 28px;
}

.price__buttons {
    display: flex;

    gap: 10px;
}

.price__button {
    height: 50px;
    width: 50px;

    border-radius: 50%;

    transition: all .2s ease-in;
}

.price__button--favorite {
    background: #F8F8F8 url("../img/icons/favorites_gray.svg") no-repeat center center;

    border: 2px solid transparent;
}

.price__button--favorite:hover {
    background-color: rgba(255, 188, 87, 0.5);

    border: 2px solid #FFBC57;
}

.price__button--cart {
    height: 50px;
    width: 50px;

    background: #FFBC57 url("../img/icons/shopping_cart_white.svg") no-repeat center center;
}

.price__button--cart:hover {
    background-color: #d59d48;
}

.actions__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.actions__list--bottom-margin {
    margin-bottom: 70px;
}

.actions__item {
    border-radius: 20px;
}

.actions__image {
    width: 100%;

    border-radius: 8px;

    transition: transform .1s ease-in;
}

.actions__image:hover {
    transform: scale(1.05);
}
