@font-face {
    font-family: 'Integral CF';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/IntegralCF-Bold.woff2') format('woff2'),
    url("../fonts/IntegralCF-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Satoshi';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Satoshi-Bold.woff2") format('woff2'),
    url("../fonts/Satoshi-Bold.woff") format('woff');
}
