@import "reset.css";

@import "fonts.css";

body {
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

h1, h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    padding: 20px;
    background-color: darkcyan;
}

h2 {
    font-size: 18px;
    padding: 15px;
    background-color: yellowgreen;
}

/*region ~~~~ Ecommerce section ~~~~ */
[class*="__container--ecommerce"] {
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 16px;
}

.dress-style {
    font-family: "Satoshi", sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.dress-style__inner-container {
    padding: 70px 64px 76px;
    background-color: #F0F0F0;

    border-radius: 40px;
}

@media (max-width: 846px) {
    .dress-style__inner-container {
        padding: 50px 44px 64px;
    }
}

@media (max-width: 693px) {
    .dress-style__inner-container {
        padding: 40px 24px 27px;

        border-radius: 20px;
    }
}

.dress-style__title {
    margin-bottom: 64px;

    font-family: "Integral CF", sans-serif;
    font-weight: 600;
    font-size: 48px;

    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 806px) {
    .dress-style__title {
        font-size: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 693px) {
    .dress-style__title {
        font-size: 32px;
        margin-bottom: 28px;
    }
}

.products__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    grid-auto-rows: 289px;
}

@media (max-width: 561px) {
    .products__list {
        grid-auto-rows: 190px;
        gap: 16px;
    }
}

@media (max-width: 780px) {
    .products__list {
        grid-template-columns: 1fr;
    }
}

.item-product {
    position: relative;

    background-color: #fff;

    border-radius: 20px;
    overflow: hidden;

    grid-column: span 2;
}

@media (any-hover: hover) {
    .item-product__image {
        transition: all .1s ease-in;
    }

    .item-product__title {
        z-index: 1;
    }

    .item-product__title::after {
        display: block;

        height: 3px;
        width: 0;

        background-color: #000;

        content: "";

        transition: all .15s ease-in;
    }

    .item-product:hover .item-product__title::after {
        width: 100%;
    }

    .item-product:hover .item-product__image {
        transform: scale(1.1);
    }
}

.item-product:nth-child(4n + 2),
.item-product:nth-child(4n + 3) {
    grid-column: span 4;
}

@media (max-width: 1159px) {
    .item-product:nth-child(4n + 2),
    .item-product:nth-child(4n + 3) {
        grid-column: span 3;
    }
}

@media (max-width: 989px) {
    .item-product:nth-child(4n + 2),
    .item-product:nth-child(4n + 3) {
        grid-column: span 2;
    }
}

.item-product__link {
    display: flex;
    justify-content: end;

    width: 100%;
    height: 100%;
}

.item-product__title {
    position: absolute;
    top: 25px;
    left: 26px;
}

@media (max-width: 561px) {
    .item-product__title {
        font-size: 28px;
        top: 16px;
        left: 24px;

    }
}

.item-product__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}
/*endregion*/

/* region ~~~~ Krovato section ~~~~ */
.krovato {
    background-color: #F8F8F8;

    color: #2B2929;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

[class*="__container--krovato"] {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 35px;
}

.popular-products--bottom-margin {
    margin-bottom: 80px;
}

.popular-products__header-section {
    margin-bottom: 40px;
}

@media (max-width: 699px) {
    .popular-products__header-section {
        margin-bottom: 24px;
    }
}

.header-section {
    display: flex;
    column-gap: 30px;

    align-items: center;
}

.header-section__title {
    font-size: 40px;
    font-weight: 600;
}

@media (max-width: 699px) {
    .header-section__title {
        font-size: 30px;
    }
}

.header-section__link {
    display: flex;

    gap: 10px;

    align-items: center;

    color: #FFBC57;
    font-size: 19px;
    font-weight: 600;
}

@media (max-width: 699px) {
    .header-section__link {
        font-size: 16px;
    }
}

@media (max-width: 563px) {
    .header-section__link {
        display: none;
    }
}

.header-section__link::after {
    height: 24px;
    width: 24px;
    background: url("../img/krovato/icons/arrow.svg") no-repeat center;

    content: "";

    transition: all .15s ease-in;
}

@media (any-hover: hover) {
    .header-section__link:hover::after {
        transform: rotate(45deg);
    }
}

.popular-products__list {
    display: grid;

    gap: 30px;

    grid-template-columns: repeat(auto-fill, 300px);

    justify-content: center;
}

@media (max-width: 699px) {
    .popular-products__list {
        grid-template-columns: minmax(300px, 480px);
    }
}

.item-popular {
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 10px;

    background-color: #fff;

    border-radius: 8px;
    overflow: hidden;

    border: 1px solid #E3E2E2;
}

.item-popular__image {
    height: 100%;
    width: 100%;

    margin-bottom: 10px;

    object-fit: cover;
    aspect-ratio: 260 / 220;

    border-radius: 8px;
}

@media (max-width: 699px) {
    .item-popular__image {
        aspect-ratio: 370 / 220;
    }
}

.item-popular__size {
    color: #535353;

    font-size: 13px;
    font-weight: 300;
}

.item-popular__title {
    font-size: 19px;
    font-weight: 600;
}

.item-popular__availability {
    display: flex;
    align-items: center;

    gap: 5px;

    margin-bottom: 10px;

    font-size: 13px;
    font-weight: 300;
}

.item-popular__availability::before {
    height: 24px;
    width: 24px;

    background: url("../img/krovato/icons/check.svg") no-repeat center;

    content: "";
}

.item-popular__footer {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.item-popular__price-section {
}

.item-popular__price-regular {
    color: #E03D3D;
    font-size: 15px;

    line-height: 22px;

    text-decoration: line-through;
}

.item-popular__price-actual {
    font-size: 20px;
    font-weight: 600;

    line-height: 28px;
}

@media (max-width: 699px) {
    .item-popular__price-actual {
        font-size: 26px;
    }
}

.item-popular__button-section {
    display: flex;
    gap: 10px;
}

.item-popular__button {
    height: 50px;
    width: 50px;

    position: relative;

    background-color: grey;

    border-radius: 50%;

    transition: background-color .25s ease-in;
}

@media (max-width: 699px) {
    .item-popular__button {
        height: 70px;
        width: 70px;
    }
}

.item-popular__button--favorite {
    background: #F8F8F8 url("../img/krovato/icons/heart.svg") center no-repeat;
}

@media (any-hover: hover) {
    .item-popular__button--favorite:hover {
        background-color: #d3d3d3;
    }
}

.item-popular__button--to-cart {
    background: #FFBC57 url("../img/krovato/icons/cart.svg") center no-repeat;
}

@media (any-hover: hover) {
    .item-popular__button--to-cart:hover {
        background-color: #ffd18b;
    }
}
/* endregion */
