@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
bottom,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  appearance: none;
}

body {
  background-color: #000;
  font-family: "Exo", sans-serif;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
}

.header__container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 83.125em) {
  .header__container {
    padding-top: 4.375rem;
  }
}
@media (min-width: 37.8125em) and (max-width: 83.125em) {
  @supports (padding-top: clamp( 3.125rem , 2.0818965517rem  +  2.7586206897vw , 4.375rem )) {
    .header__container {
      padding-top: clamp( 3.125rem , 2.0818965517rem  +  2.7586206897vw , 4.375rem );
    }
  }
  @supports not (padding-top: clamp( 3.125rem , 2.0818965517rem  +  2.7586206897vw , 4.375rem )) {
    .header__container {
      padding-top: calc(3.125rem + 1.25 * (100vw - 37.8125rem) / 45.3125);
    }
  }
}
@media (max-width: 37.8125em) {
  .header__container {
    padding-top: 3.125rem;
  }
}
@media (min-width: 83.125em) {
  .header__container {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 37.8125em) and (max-width: 83.125em) {
  @supports (padding-bottom: clamp( 1.0625rem , -0.1370689655rem  +  3.1724137931vw , 2.5rem )) {
    .header__container {
      padding-bottom: clamp( 1.0625rem , -0.1370689655rem  +  3.1724137931vw , 2.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.0625rem , -0.1370689655rem  +  3.1724137931vw , 2.5rem )) {
    .header__container {
      padding-bottom: calc(1.0625rem + 1.4375 * (100vw - 37.8125rem) / 45.3125);
    }
  }
}
@media (max-width: 37.8125em) {
  .header__container {
    padding-bottom: 1.0625rem;
  }
}
@media (min-width: 83.125em) {
  .header__container {
    gap: 6.875rem;
  }
}
@media (min-width: 54.625em) and (max-width: 83.125em) {
  @supports (gap: clamp( 1.25rem , -9.53125rem  +  19.7368421053vw , 6.875rem )) {
    .header__container {
      gap: clamp( 1.25rem , -9.53125rem  +  19.7368421053vw , 6.875rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , -9.53125rem  +  19.7368421053vw , 6.875rem )) {
    .header__container {
      gap: calc(1.25rem + 5.625 * (100vw - 54.625rem) / 28.5);
    }
  }
}
@media (max-width: 54.625em) {
  .header__container {
    gap: 1.25rem;
  }
}
@media (max-width: 829px) {
  .header__container {
    flex-direction: column;
    align-items: end;
  }
}
.header__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 829px) {
  .header__title-container {
    width: 100%;
  }
}
.header__title {
  white-space: nowrap;
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
  letter-spacing: -0.1em;
}
@media (min-width: 83.125em) {
  .header__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 25em) and (max-width: 83.125em) {
  @supports (font-size: clamp( 1rem , 0.623655914rem  +  1.5053763441vw , 1.875rem )) {
    .header__title {
      font-size: clamp( 1rem , 0.623655914rem  +  1.5053763441vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.623655914rem  +  1.5053763441vw , 1.875rem )) {
    .header__title {
      font-size: calc(1rem + 0.875 * (100vw - 25rem) / 58.125);
    }
  }
}
@media (max-width: 25em) {
  .header__title {
    font-size: 1rem;
  }
}
.header__burger {
  display: none;
  height: 2px;
  width: 22px;
  position: relative;
  background-color: #fff;
  z-index: 3;
}
@media (max-width: 829px) {
  .header__burger {
    display: block;
  }
}
.header__burger::before, .header__burger::after {
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  content: "";
}
.header__burger::before {
  top: -8px;
}
.header__burger::after {
  bottom: -8px;
}
.header .nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
}
@media (min-width: 83.125em) {
  .header .nav {
    gap: 6.875rem;
  }
}
@media (min-width: 54.625em) and (max-width: 83.125em) {
  @supports (gap: clamp( 1.25rem , -9.53125rem  +  19.7368421053vw , 6.875rem )) {
    .header .nav {
      gap: clamp( 1.25rem , -9.53125rem  +  19.7368421053vw , 6.875rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , -9.53125rem  +  19.7368421053vw , 6.875rem )) {
    .header .nav {
      gap: calc(1.25rem + 5.625 * (100vw - 54.625rem) / 28.5);
    }
  }
}
@media (max-width: 54.625em) {
  .header .nav {
    gap: 1.25rem;
  }
}
@media (min-width: 83.125em) {
  .header .nav {
    font-size: 1rem;
  }
}
@media (min-width: 25em) and (max-width: 83.125em) {
  @supports (font-size: clamp( 0.75rem , 0.6424731183rem  +  0.4301075269vw , 1rem )) {
    .header .nav {
      font-size: clamp( 0.75rem , 0.6424731183rem  +  0.4301075269vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.6424731183rem  +  0.4301075269vw , 1rem )) {
    .header .nav {
      font-size: calc(0.75rem + 0.25 * (100vw - 25rem) / 58.125);
    }
  }
}
@media (max-width: 25em) {
  .header .nav {
    font-size: 0.75rem;
  }
}
@media (max-width: 829px) {
  .header .nav {
    padding: 90px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    flex-grow: 0;
    gap: 20px;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: #000;
    transition: left 0.3s ease-in-out;
  }
  .header .nav.active {
    left: 0;
  }
  .header .nav::before {
    min-height: 80px;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 2;
    content: "";
  }
}
.header .nav__menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}
@media (max-width: 829px) {
  .header .nav__menu {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}
.header .nav__item-menu {
  position: relative;
  text-transform: uppercase;
}
.header .nav__item-menu::after {
  height: 2px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  content: "";
  transition: width 0.2s ease-in;
}
@media (any-hover: hover) {
  .header .nav__item-menu:hover::after {
    width: 100%;
  }
}
.header .nav__social {
  display: flex;
  gap: 19px;
  align-items: center;
}
.header .nav__image-social {
  height: 20px;
  width: 20px;
}

.home {
  overflow: hidden;
}
.home__container {
  padding-top: 120px;
  padding-bottom: 160px;
}
/*# sourceMappingURL=style.css.map */
