@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@400,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
bottom,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
  background-color: unset;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  appearance: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?12das3");
  src: url("../fonts/icons/icomoon.eot?12das3#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?12das3") format("truetype"), url("../fonts/icons/icomoon.woff?12das3") format("woff"), url("../fonts/icons/icomoon.svg?12das3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class$=-icon]::before, [class$=-icon]::after, [class*="-icon "]::before, [class*="-icon "]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e900";
}

.icon-magnifier:before {
  content: "\e901";
}

.icon-shopping:before {
  content: "\e903";
}

@media (max-width: 1300px) {
  html {
    font-size: calc(16px - 8 * (1320px - 100vw) / 500);
  }
}
@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.filter {
  display: flex;
  column-gap: 30px;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
@media (max-width: 450px) {
  .filter {
    font-size: calc(16px - 6 * (450px - 100vw) / 50);
  }
}
@media (max-width: 400px) {
  .filter {
    font-size: 10px;
  }
}
.filter__items {
  display: flex;
  column-gap: 2.5rem;
  flex-grow: 1;
}
@media (max-width: 355px) {
  .filter__items {
    flex-direction: column;
    row-gap: 5px;
    align-items: start;
  }
}
.filter__item--active {
  font-weight: 600;
}
.filter__link-item {
  text-transform: capitalize;
  transition: color 0.1s ease-in;
}
@media (any-hover: hover) {
  .filter__link-item:hover {
    color: #FF6F61;
  }
}
.filter-button {
  display: flex;
  align-items: center;
  font-size: 1em;
  transition: background-color 0.2s ease-in;
  padding: 5px 15px;
  background-color: #1E2832;
  color: #FFFFFF;
}
@media (any-hover: hover) {
  .filter-button:hover {
    background-color: #FF6F61;
  }
}
.filter-button--filter-icon::before {
  margin-right: 4px;
  content: "\e902";
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}
@media (max-width: 545px) {
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.product {
  max-width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 18px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: transform 0.1s ease-in;
}
@media (any-hover: hover) {
  .product:hover {
    transform: scale(1.02);
  }
}
.product__picture {
  width: 100%;
  aspect-ratio: 312/400;
  object-fit: contain;
}
.product__details {
  padding-inline: 0.625rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 1rem;
}
@media (max-width: 340px) {
  .product__details {
    font-size: calc(1em - 0.5em * (340px - 100vw) / 140);
  }
}
.product__title {
  font-weight: 600;
  text-transform: capitalize;
  transition: color 0.1s ease-in;
}
@media (any-hover: hover) {
  .product__title:hover {
    color: #FF6F61;
  }
}
.product__bottom-section {
  display: flex;
}
.product__category {
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}
.product__prices {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.75rem;
  font-weight: 600;
}
.product__price--discount {
  color: #FF6F61;
}
.product__price--discount + .product__price--regular {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

[class*="__ribbons "], [class$=__ribbons] {
  position: absolute;
  top: 22px;
  left: 0;
  z-index: 2;
}

.ribbons {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
}

.ribbon {
  padding: 4px 12px;
}
.ribbon--sale {
  background-color: #1E2832;
}
.ribbon--sale::before {
  content: "SALE";
}
.ribbon--hot {
  background-color: #FF6F61;
}
.ribbon--hot::before {
  content: "HOT";
}

.burger {
  display: none;
  height: 18px;
  width: 18px;
  position: relative;
  background-color: transparent;
  z-index: 3;
}
@media (max-width: 480px) {
  .burger {
    display: block;
  }
}
.burger::before, .burger::after {
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #000000;
  left: 0;
  content: "";
  transition: all 0.2s ease-in;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger span {
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #000000;
  transform: translate(0px, -50%);
}

.header {
  background-color: rgba(30, 40, 50, 0.05);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.header__container {
  position: relative;
}
@media (max-width: 300px) {
  .header__container {
    padding-inline: calc(15px - 12 * (300px - 100vw) / 20);
  }
}
@media (max-width: 280px) {
  .header__container {
    padding-inline: 3px;
  }
}
.header__main {
  padding: 31px 0 55px;
  display: flex;
  gap: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1190px) {
  .header__main {
    padding-top: calc(31px - 21 * (1190px - 100vw) / 490);
    padding-bottom: calc(55px - 40 * (1190px - 100vw) / 490);
  }
}
@media (max-width: 700px) {
  .header__main {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .header__main {
    flex-wrap: wrap;
  }
}
.header__search-form {
  display: flex;
  flex: 1 1 100%;
  column-gap: 10px;
}
@media (max-width: 480px) {
  .header__search-form {
    order: 3;
  }
}
.header__input-search {
  display: none;
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0px 0px 52px -26px rgba(0, 0, 0, 0.75);
}
@media (max-width: 480px) {
  .header__input-search {
    display: block;
  }
}
.header__button-search--search-icon::before {
  font-size: 25px;
  content: "\e901";
}
.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}
@media (max-width: 480px) {
  .header__logo {
    position: static;
    transform: unset;
    justify-content: unset;
    order: -1;
  }
}
@media (max-width: 250px) {
  .header__logo {
    flex-shrink: 1;
  }
}
.header__links {
  display: flex;
  column-gap: 22px;
}
@media (max-width: 680px) {
  .header__links {
    column-gap: 5px;
  }
}
@media (max-width: 480px) {
  .header__links {
    display: none;
  }
}
.header__link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__link, .header__burger {
  transition: color 0.2s ease-in;
}
@media (any-hover: hover) {
  .header__link:hover, .header__burger:hover {
    color: #FF6F61;
  }
}
@media (max-width: 680px) {
  .header__text-link {
    display: none;
  }
}
.header__image-link--account-icon::before {
  font-size: 25px;
  content: "\e900";
}
.header__image-link--shopping-icon::before {
  font-size: 25px;
  content: "\e903";
}

.logo__img {
  height: 100%;
  width: 100%;
  max-height: 34px;
  max-width: 180px;
}

.nav {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
@media (max-width: 1190px) {
  .nav {
    font-size: calc(16px - 4 * (1190px - 100vw) / 490);
  }
}
@media (max-width: 700px) {
  .nav {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  gap: 10px 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav__link {
  transition: color 0.2s ease-in;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: #FF6F61;
  }
}

.collections {
  background-color: rgba(30, 40, 50, 0.05);
  background-image: url("../img/background/left.svg"), url("../img/background/right.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 18%, right 50%;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 480px) {
  .collections {
    background-size: auto 50%, auto 80%;
  }
}
@media (max-width: 1320px) {
  .collections {
    font-size: calc(16px - 8 * (1320px - 100vw) / 500);
  }
}
@media (max-width: 800px) {
  .collections {
    font-size: 8px;
  }
}
.collections__container {
  padding-bottom: 3.75rem;
  display: flex;
  align-items: center;
}
.collections__section-left {
  flex-grow: 1;
}
@media (max-width: 480px) {
  .collections__section-left {
    font-size: 1.2rem;
  }
}
.collections__section-left > * {
  margin-bottom: 3.25rem;
}
@media (max-width: 480px) {
  .collections__section-left > * {
    margin-bottom: 1.3rem;
  }
}
.collections__section-left > *:last-child {
  margin-bottom: 0;
}
.collections__header {
  font-size: 4.625em;
  font-weight: 300;
}
.collections__description {
  margin-bottom: 4.125rem;
  font-size: 1.875rem;
  line-height: 3.4375rem;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .collections__description {
    margin-bottom: 1.65rem;
  }
}
.collections__link {
  padding: 1.3125rem 1.625rem;
  background-color: #1E2832;
  color: #FFFFFF;
  font-size: 1.8125rem;
  text-transform: capitalize;
  transition: background-color 0.2s ease-in;
}
.collections__link--shop-icon::before {
  margin-right: 8px;
  content: "\e903";
}
@media (any-hover: hover) {
  .collections__link:hover {
    background-color: #FF6F61;
  }
}
.collections__section-right {
  padding: 6.3125rem 5.875rem 0 7.25rem;
}
@media (max-width: 480px) {
  .collections__section-right {
    display: none;
  }
}
.collections__image-wrapper {
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-top-left-radius: 8.125rem;
  border-bottom-right-radius: 8.125rem;
}
.collections__main-image {
  width: 26.5rem;
  height: 33.875rem;
  border-top-left-radius: 8.125rem;
  border-bottom-right-radius: 8.125rem;
  transform: translate(-1.125rem, -1.125rem);
}

.brands {
  padding-block: 90px;
}
@media (max-width: 1320px) {
  .brands {
    padding-block: calc(90px - 80 * (1320px - 100vw) / 800);
  }
}
@media (max-width: 500px) {
  .brands {
    padding-block: 10px;
  }
}
.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3.125rem;
  row-gap: 10px;
}
.brands__item {
  transition: all 0.2s ease-in;
}
.brands__item:hover {
  transform: scale(1.2);
}
.brands__image-link {
  height: 4.375rem;
  width: 12.5rem;
}

.popular__container {
  position: relative;
  margin-bottom: 8.75rem;
}
@media (max-width: 800px) {
  .popular__container {
    margin-bottom: 30px;
  }
}
.popular__title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(-90deg) translateY(-0.8rem);
  font-family: "Roboto", sans-serif;
  font-size: 2.125rem;
  text-transform: uppercase;
}
@media (max-width: 1430px) {
  .popular__title {
    margin-bottom: 1.25rem;
    position: static;
    transform: unset;
  }
}
.popular__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
@media (max-width: 810px) {
  .popular__list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 570px) {
  .popular__list {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media (max-width: 410px) {
  .popular__list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
.popular__item {
  position: relative;
  overflow: hidden;
}
.popular__item:nth-child(5n+1) {
  grid-column: span 2;
  grid-row: span 2;
}
@media (max-width: 655px) {
  .popular__item:nth-child(5n+1) {
    grid-column: unset;
    grid-row: unset;
  }
}
.popular__link {
  display: block;
}
@media (any-hover: hover) {
  .popular__link:hover img {
    transform: scale(1.1);
  }
}
.popular__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  transition: all 0.1s ease-in;
}

.subscribe {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.subscribe__container {
  margin-bottom: 8.75rem;
}
.subscribe__container > *:not(:last-child) {
  margin-bottom: 2.1875rem;
}
.subscribe__title {
  font-family: "Roboto", sans-serif;
  font-size: 3.125rem;
  font-weight: 500;
  text-align: center;
}
.promo {
  background: #1E2832 url("../img/promo/background.png") 30% top/cover no-repeat;
  overflow: hidden;
  font-size: 16px;
}
@media (max-width: 1320px) {
  .promo {
    font-size: calc(16px - 12 * (1320px - 100vw) / 1000);
  }
}
@media (max-width: 300px) {
  .promo {
    font-size: 4px;
  }
}
.promo--margin {
  margin-bottom: 8.75rem;
}
.promo__container {
  display: flex;
  justify-content: end;
}
.promo__wrapper {
  padding: 14.5625em 2.0625rem 5.8125em;
  display: flex;
  flex-direction: column;
  row-gap: 3.4375rem;
  align-items: start;
  flex-basis: 510px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
.promo__title-container {
  position: relative;
}
.promo__title {
  width: 11.9375rem;
}
.promo__shadow-title {
  width: 45.75rem;
  position: absolute;
  top: -11.375rem;
  left: 10.0625rem;
  opacity: 0.1;
}
.promo__description {
  font-size: 1.625rem;
  line-height: 2.5rem;
}
.promo__link {
  padding: 1.1875rem 1.625rem;
  background-color: #FFFFFF;
  font-size: 1.625rem;
  color: #1E2832;
}
@media (any-hover: hover) {
  .promo__link {
    transition: background-color 0.1s ease-in;
  }
  .promo__link:hover {
    background-color: #FF6F61;
  }
}

.best-sellers {
  font-family: "Open Sans", sans-serif;
}
.best-sellers__container {
  margin-bottom: 8.75rem;
}
.best-sellers__container > *:not(:last-of-type) {
  margin-bottom: 2.1875rem;
}
.best-sellers__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3.125rem;
  font-weight: 500;
}
.follow {
  background-color: rgba(30, 40, 50, 0.05);
  font-family: "Roboto", sans-serif;
}
.follow__container {
  padding-block: 6.25rem;
}
.follow__container > * {
  margin-bottom: 3.75rem;
}
.follow__container > *:last-child {
  margin-bottom: 0;
}
.follow__title {
  margin-bottom: 4.0625rem;
  font-size: 3.125rem;
  font-weight: 500;
  text-align: center;
}
.follow__items {
  margin-bottom: 4.375rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.follow__item {
  overflow: hidden;
}
.follow__link-item {
  position: relative;
}
.follow__overlay-picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(30, 40, 50, 0.5);
  opacity: 0;
  transition: all 0.15s ease-in;
}
.follow__overlay-picture .social-links__text--overlay {
  position: relative;
  top: 10%;
  opacity: 0;
  color: #FFFFFF;
  font-size: 4.375rem;
  transition: all 0.15s ease-in;
}
@media (any-hover: hover) {
  .follow__overlay-picture:hover {
    opacity: 1;
  }
  .follow__overlay-picture:hover .social-links__text--overlay {
    top: 0;
    opacity: 1;
  }
}
.follow__picture {
  height: 12.5rem;
  width: 12.5rem;
  transition: transform 0.1s ease-in;
}
@media (any-hover: hover) {
  .follow__picture:hover {
    transform: scale(1.1);
  }
}
.follow__form {
  max-width: calc(760px + 1.25rem);
  margin: 0 auto;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: center;
  column-gap: 1.625rem;
  row-gap: 0.8125rem;
  font-size: 1rem;
}
@media (max-width: 300px) {
  .follow__form {
    flex-wrap: wrap;
  }
}
.follow__input {
  padding: 0 0.9375rem 0.8125rem;
  border-bottom: 2px solid #000000;
  flex-grow: 1;
  font-weight: 600;
  outline: none;
  transition: border-color 0.15s ease-in;
}
.follow__input::placeholder {
  color: rgba(30, 40, 50, 0.5);
}
.follow__input:focus {
  border-color: #FF6F61;
}
.follow__submit {
  padding: 0 0.9375rem 0.8125rem;
  border-bottom: 2px solid #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.15s ease-in;
}
@media (any-hover: hover) {
  .follow__submit:hover {
    border-color: #FF6F61;
    color: #FF6F61;
  }
}

.menu-bottom__container {
  padding-top: 8.75rem;
  padding-bottom: 5.625rem;
  display: grid;
  column-gap: 1.5rem;
  row-gap: 24px;
  grid-template-columns: 4fr 3fr 3fr 2fr;
}
@media (max-width: 920px) {
  .menu-bottom__container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    grid-template-columns: 3fr 3fr 2fr;
  }
}
@media (max-width: 320px) {
  .menu-bottom__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 920px) {
  .menu-bottom__main {
    max-width: 26.25rem;
    grid-column: span 3;
  }
}
@media (max-width: 320px) {
  .menu-bottom__main {
    grid-column: unset;
  }
}
.menu-bottom__main > *:not(:last-child) {
  margin-bottom: 2rem;
}
.social-links {
  display: flex;
  gap: 2.25rem;
  flex-wrap: wrap;
  color: #1E2832;
}
.social-links__link {
  transition: color 0.1s ease-in;
}
@media (any-hover: hover) {
  .social-links__link:hover {
    color: #FF6F61;
  }
}
.social-links__text {
  font-size: 1.5625rem;
}
.social-links__text--facebook-icon::before {
  content: "\e907";
}
.social-links__text--twitter-icon::before {
  content: "\e906";
}
.social-links__text--linkedin-icon::before {
  content: "\e905";
}
.social-links__text--instagram-icon::before {
  content: "\e904";
}

.links-menu {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.links-menu__title {
  margin-bottom: 1.375rem;
  font-weight: 600;
  text-transform: uppercase;
}
.links-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.links-menu__item-list {
  font-size: 0.875rem;
}
.links-menu__item-link {
  text-transform: capitalize;
  transition: color 0.1s ease-in;
}
@media (any-hover: hover) {
  .links-menu__item-link:hover {
    color: #FF6F61;
  }
}

.footer {
  padding-block: 0.875rem;
  background-color: #1E2832;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}
.footer__container > *:last-child {
  justify-self: end;
}
.footer__container > *:first-child {
  justify-self: start;
}
.footer__payment-systems {
  display: flex;
  justify-content: center;
  gap: 0.375rem;
  flex-wrap: wrap;
}
.footer__img-payment-systems {
  width: 2.625rem;
  height: 1.5rem;
}
.footer__scroll-to-top {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  transition: color 0.2s ease-in;
}
@media (any-hover: hover) {
  .footer__scroll-to-top:hover {
    color: #FF6F61;
  }
}
.footer__scroll-to-top--icon::after {
  font-size: 1.25rem;
  content: "\e908";
}
/*# sourceMappingURL=style.css.map */
