@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url('../fonts/krovato/proximanova_regular.woff2') format('wofff2'),
        url('../fonts/krovato/proximanova_regular.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url('../fonts/krovato/proxima-nova-semi-bold.woff2') format('wofff2'),
        url('../fonts/krovato/proxima-nova-semi-bold.woff') format('woff');
}
