.header {
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 1;

    &__container {
        @include adaptiveValue('padding-top', 70, 50, 0, $containerWidth, 605);
        @include adaptiveValue('padding-bottom', 40, 17, 0, $containerWidth, 605);

        display: flex;
        @include adaptiveValue('gap', 110, 20, 0, $containerWidth, 874);

        position: relative;

        align-items: center;
        justify-content: space-between;

        @media (max-width: $burgerBreakpoint) {
            flex-direction: column;
            align-items: end;
        }
    }

    &__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $burgerBreakpoint) {
            width: 100%;
        }
    }

    &__title {
        white-space: nowrap;

        font-family: "Exo 2", sans-serif;
        @include adaptiveValue('font-size', 30, 16);
        font-size: 30px;
        letter-spacing: -.1em;
    }

    .nav {
        display: flex;

        flex-grow: 1;

        @include adaptiveValue('gap', 110, 20, 0, $containerWidth, 874);

        align-items: center;
        justify-content: space-between;

        font-family: "Orbitron", sans-serif;
        @include adaptiveValue('font-size', 16, 12);
        font-weight: 700;

        @media (max-width: $burgerBreakpoint) {
            padding: 90px 20px 20px;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: end;
            flex-grow: 0;

            gap: 20px;

            position: fixed;
            overflow-y: scroll;
            top: 0;
            left: 100%;


            height: 100%;
            width: 100%;

            background-color: #000;

            transition: left .3s ease-in-out;

            &.active {
                left: 0;
            }

            &::before {
                min-height: 80px;
                width: 100%;

                display: block;

                position: fixed;
                top: 0;

                background-color: #000;

                z-index: 2;

                content: "";
            }
        }

        &__menu {
            display: flex;

            gap: 20px;
            flex-wrap: wrap;
            flex-grow: 1;

            justify-content: space-between;

            @media (max-width: $burgerBreakpoint) {
                flex-direction: column;
                align-items: center;
                justify-content: start;

            }
        }

        &__item-menu {
            position: relative;
            text-transform: uppercase;
        }

        &__item-link {
            padding: 10px;

            transition: background-color .2s ease-in;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #6F00A9;
                }
            }
        }

        &__social {
            display: flex;
            gap: 19px;
            align-items: center;
        }

        &__item-social {
        }

        &__image-social {
            height: 20px;
            width: 20px;
        }
    }
}

.burger {
    display: none;

    height: 22px;
    width: 22px;

    position: relative;

    background-color: transparent;

    z-index: 3;

    @media (max-width: $burgerBreakpoint) {
        display: block;
    }

    &::before, &::after {
        height: 2px;
        width: 100%;

        position: absolute;

        background-color: #fff;
        left: 0;

        content: "";

        transition: all .2s ease-in;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }

    & span {
        height: 2px;
        width: 100%;

        position: absolute;
        left: 0;
        top: 50%;

        background-color: #fff;

        transform: translate(0px, -50%);
    }

    &.active {
        & span {
            display: none;
        }

        &::before {
            top: 50%;
            transform: translateY(-1px) rotate(45deg);

        }
        &::after {
            top: 50%;
            transform: translateY(-1px) rotate(-45deg);
        }
    }
}
