@import "reset";

@import "fonts";

@import "mixins";

// responsive properties
$minWidth: 400;
$maxWidth: 1920;
$maxWidthContainer: 1300;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

// site variables


// adaptive breakpoints
$burgerBreakpoint: 885px;

body {
    //padding-top: 50px;
    position: relative;

    background-color: #000;

    font-family: "Exo", sans-serif;

    color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*=__container] {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

@import "header";

@import "home";

@import "adaptive_container";

@import "about";

.header, .home, .adaptive-container, .about {
    //display: none;
}

@import "portfolio";
