@import "reset";

@import "fonts";



body {
    background-color: #000;

    font-family: "Exo", sans-serif;

    color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*=__container] {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
}

@import "header";

@import "home";
